.caixa_width{
    /* espessura, tipo e a cor => width, style, color */
    /* border-width: 2px;
    border-style: solid;
    border-color:red; */
    
    /* shortand => vários valores na mesma propriedade */
    border: 2px solid red;

    width: 200px;
}

.imagem_width{
    width: 400px;
}

.caixa_height{
    border: 1px dashed #0f0;

    height: 100px;
    width: 100px;
}